# Testing the addFeatures class with sklearn pipelines

In [8]:
import numpy as np
import pandas as pd

import sklearn.pipeline as skl_pipeline

import sys
sys.path.append('./../../src/')
import general_functions
import add_features
import preprocess_features

import sklearn.linear_model as skl_lm

In [2]:
X, y = general_functions.load_training_data()

In [3]:
X.head(1)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

Trying out the add features:

In [17]:
preprocessor_pipeline = skl_pipeline \
        .Pipeline([('preprocess_features', preprocess_features.preprocessFeatures()),
            ('add_features', add_features.addFeatures())])

In [19]:
X_preprocessed = preprocessor_pipeline.fit_transform(X, y)

In [20]:
X_preprocessed.head(2)

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,FamilySize
0,22.0,1.0,0.0,7.2500,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,2.0
1,38.0,1.0,0.0,71.2833,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0

Hey! It worked!