# Engineering Features

**Methods:**
>1. Load data
>2. Create feature for which deck they're on
>3. Create feature for family size
>4. Create features for familial status
>5. Add procedure to src file

In [1]:
import sys
sys.path.append('./../../src/')
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import Data_Loader

## 1. Load data

In [5]:
X, y = Data_Loader.load_training_data()

## 2. Create feature for which deck they're on

In [4]:
X.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,FamilySize
PassengerId,,,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,UNK,2
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,2
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,UNK,1
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,2
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,UNK,1

This will use the Cabin number: specifically, it will use the first character of the Cabin name. If it doesn't exist, we replace it with an "UNK" for unknown:

In [4]:
X['Deck'] = X['Cabin'].map(lambda x: str(x)[0]).replace('n', 'UNK')

In [5]:
X.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
PassengerId,,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,UNK
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,UNK
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,UNK

## 3. Create feature for family size

The family size is the sum of the passenger's Sibsp + Parch + 1. The 1 is for themselves

In [6]:
X['FamilySize'] = X['SibSp'] + X['Parch'] + 1

In [7]:
X.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,FamilySize
PassengerId,,,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,UNK,2
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,2
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,UNK,1
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,2
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,UNK,1

## 4. Create features for familial status

For this, I want to determine if the person is traveling [alone, with spouse, or with family]. 

* Alone is simple, this will be people whose family size == 1

* With a spouse is a little more complex, the passenger needs to be over ~18, with 0 parch, and only 1 sibsp:

* With family is everything else

In [45]:
X.loc[(X['SibSp'] == 1)
     & (X['Parch'] == 0)].sort_values(['Name'])

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,FamilySize
PassengerId,,,,,,,,,,,,
309,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C,UNK,2
875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,UNK,2
41,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,UNK,2
193,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S,UNK,2
276,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,D,2
519,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S,UNK,2
354,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S,UNK,2
50,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,UNK,2
701,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C,C,2
207,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.8500,NaN,S,UNK,2
544,2,"Beane, Mr. Edward",male,32.0,1,0,2908,26.0000,NaN,S,UNK,2
547,2,"Beane, Mrs. Edward (Ethel Clarke)",female,19.0,1,0,2908,26.0000,NaN,S,UNK,2
485,1,"Bishop, Mr. Dickinson H",male,25.0,1,0,11967,91.0792,B49,C,B,2
292,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1,0,11967,91.0792,B49,C,B,2
478,3,"Braund, Mr. Lewis Richard",male,29.0,1,0,3460,7.0458,NaN,S,UNK,2
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,UNK,2
729,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.0,1,0,236853,26.0000,NaN,S,UNK,2
579,3,"Caram, Mrs. Joseph (Maria Elias)",female,NaN,1,0,2689,14.4583,NaN,C,UNK,2
855,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S,UNK,2
250,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0000,NaN,S,UNK,2
742,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S,C,2
93,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S,E,2
725,1,"Chambers, Mr. Norman Campbell",male,27.0,1,0,113806,53.1000,E8,S,E,2
810,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,113806,53.1000,E8,S,E,2
595,2,"Chapman, Mr. John Henry",male,37.0,1,0,SC/AH 29037,26.0000,NaN,S,UNK,2
74,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C,UNK,2
427,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28.0,1,0,2003,26.0000,NaN,S,UNK,2
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,2
672,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,B,2
348,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,NaN,S,UNK,2
...,...,...,...,...,...,...,...,...,...,...,...,...
187,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q,UNK,2
337,1,"Pears, Mr. Thomas Clinton",male,29.0,1,0,113776,66.6000,C2,S,C,2
152,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S,C,2
506,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1,0,PC 17758,108.9000,C65,C,C,2
308,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C,C,2
268,3,"Persson, Mr. Ernst Ulrik",male,25.0,1,0,347083,7.7750,NaN,S,UNK,2
443,3,"Petterson, Mr. Johan Emil",male,25.0,1,0,347076,7.7750,NaN,S,UNK,2
477,2,"Renouf, Mr. Peter Henry",male,34.0,1,0,31027,21.0000,NaN,S,UNK,2
133,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S,UNK,2
514,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4000,NaN,C,UNK,2
435,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S,E,2
578,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1,0,13507,55.9000,E44,S,E,2
32,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,B,2
592,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C,D,2
713,1,"Taylor, Mr. Elmer Zebley",male,48.0,1,0,19996,52.0000,C126,S,C,2
670,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,C126,S,C,2
640,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S,UNK,2
432,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S,UNK,2
118,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S,UNK,2
42,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,UNK,2
19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,UNK,2
367,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C,D,2
134,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,UNK,2
372,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S,UNK,2
621,3,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C,UNK,2
831,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,UNK,2
112,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,UNK,2
241,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,UNK,2
560,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.0,1,0,345572,17.4000,NaN,S,UNK,2
362,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C,UNK,2

In [36]:
X.loc[(X['SibSp'] == 1)
     & (X['Parch'] == 0), 'Age'].dropna().map(lambda x: x >= 18).mean()

0.92156862745098034

92% of people with 1 sibling and 0 parents are over 18 years old

In [32]:
def get_familial_status(passenger_data):
    try:
    if (passenger_data['SibSp'] == 1 
        & passenger_data['Parch'] == 0
        & passenger_data['Age'] >= 18):
        return 'with_spouse'
    elif passenger_data['FamilySize'] == 0:
        return 'single'
    else:
        return 'with_family'

In [33]:
X.apply(get_familial_status, axis=1)

TypeError: ("unsupported operand type(s) for &: 'int' and 'float'", u'occurred at index 3')

This is more complex than anticipated. I believe it's possible but will take time

### Exporting data

In [9]:
X['Survived'] = y

In [11]:
X.to_csv('./../../data/feature_data/train_with_fam_deck.csv')

## 5. Add procedure to src file